@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.body{
    margin:0;
    padding:0;
    
    all: initial;
    * {
        all: unset;
    }
      
}

.welcome-header{
    margin:auto;
    text-align: center;
}

.intro-header{
    margin:auto;
    text-align: center;
}

.btn-light{
    margin:auto;
    text-align: center;
}