@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

#div-1 { overflow: hidden; }


.body{
   /* overflow-y: hidden; */
}    

.welcome-header{
    margin:auto;
    text-align: center;
}

.intro-header{
    margin: auto;
    text-align: center;
}

.btn-light{
    margin:auto;
    text-align: center;
}

::-webkit-scrollbar{
    display: none;
}